p {
  margin: 0;
}
h1,h2,h3,h4,h5{
  color: rgb(66, 158, 224);
  margin: 0;
  margin-bottom: 2px;
}
.set_box{
  display:none;
  font-size: 14px;
  color: rgb(61, 60, 60);
}
.box_box{
  display:none;
  font-size: 14px;
  text-align: center;
  color: rgb(61, 60, 60);
}


.song_box,
.new_song_box {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(190, 223, 198, 0.35);
  min-width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  height: 60px;
  max-height: 100px;
  border-radius: 10px;
  margin-top: 8px;
  padding-right: 15px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.songNum {
  color: rgb(99, 100, 101);
  padding-right: 10px;
  background-color: rgba(255, 228, 196, 0);
  margin-left: 10px;
}

.songName {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0);
  max-height: 45px;
  flex-grow: 1;
}

.singerName {
  font-size: 12px;
  color: rgb(108, 108, 108);
  background-color: rgba(255, 255, 255, 0);
  max-height: 45px;

}


.btn {
  height: 30px;
  width: 30px;
  background-color: rgba(240, 248, 255, 0);
  border: 0px;
  border-width: 0px;
  outline: 0px;
  font-size: 25px;
  color: rgba(101, 159, 184, 0.928);
  border-radius: 10px;
}

.btn:active {
  background-color: rgb(128, 194, 238);
}

#play_time{
  color: rgb(72, 169, 238);
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 253, 253, 0.8);
  margin-top: 10px;
}

#yiyan{
  font-size: 12px;
  width: 90%;
  text-align: center;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 253, 253, 0);
  color: rgb(87, 87, 87);
  margin-top: 10px;
  margin-left: 5%;
}

#theme_box{
  /* margin-left: calc(50% - 130px); */
  background-color: rgba(255, 253, 253, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.set_op{
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 0;
  background-color: rgba(246, 235, 235, 0);
  border-radius: 5px;
}

.set_val{
  background-color: rgba(236, 236, 236, 0);
  height: 30px;
  border-radius: 5px;
  border: solid 0.5px;
  outline: 0;
}

a{
  font-size: 16px;
  color: #3980b2;
  text-decoration: none;
}

set_title{
  font-size: 16px;
}