:root {
  --bg-image: linear-gradient(to bottom right, #3a7bd561, #3f5efb56, #af52bf55, #c873e06e);
}

body {
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--bg-image);
}

dialog {
  color: #3b3b3b;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 0 2px rgba(85, 85, 85, 0.7);
  border-radius: 15px;
  transition-duration: 200ms;
  border-width: 0px;
  border-color: #ffffff;
  min-width: 280px;
  text-align: center;
  animation: fade 100ms;
  animation-timing-function: ease-out;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

dialog::backdrop {
  background: transparent;
  backdrop-filter: brightness(0.8) blur(0.5px);
  animation: ltd 200ms;
  animation-timing-function: ease-out;
}

#tipsContent {
  font-weight: 520;
}

@keyframes fade {
  from {
    /* opacity: 0; */
    transform: scale(0.9);
    backdrop-filter: brightness(1) blur(0px);
  }

  to {
    /* opacity: 1; */
    transform: scale(1);
    backdrop-filter: brightness(0.8) blur(0.5px);
  }
}

@keyframes ltd {
  from {
    backdrop-filter: brightness(1) blur(0px);
  }

  to {
    backdrop-filter: brightness(0.8) blur(1px);
  }
}


.lrc {
  color: #696969;
  padding-top: 15px;
  transition-duration: 100ms;
}

.clear {
  color: #686868;
}

p {
  margin: 0;
}

img {
  border-radius: 5px;
}

.img {
  float: left;
}

.music_box {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  box-shadow: 0 0 5px rgba(82, 82, 82, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lrc_box {
  width: calc(100%-88px);
  padding-bottom: 10px;
  background-color: rgba(188, 249, 179, 0);
  text-align: center;
  margin-left: 88px;
  border-radius: 10px;
  height: 58px;
}

.song {
  font-size: 0.85rem;
  color: #232323;
  border-radius: 5px;
  text-align: center;
  width: calc(100%-88px);
  margin-left: 88px;
  height: 20px;
  background-color: rgba(215, 246, 212, 0);
}

#singerName {
  font-size: 0.8rem;
  color: #747474;
}

.plyr__controls__item.plyr__volume,
.plyr__controls__item.plyr__menu {
  display: none;
}

/*搜索建议sug*/
td {
  color: #676767;
}

td:hover {
  background-color: rgb(80, 182, 255);
  color: #ffffff;
}

/*搜索框与搜索按钮父级div*/
.search {
  padding-bottom: 10px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/*搜索框div*/
.search_box {
  flex: 9;
  margin-left: 1%;
  padding-right: 20px;
}

/*搜索框样式*/
#search_box {
  background-color: rgba(255, 255, 255, 0.6);
  color: #282828;
  font-size: 13px;
  padding-right: 0px;
  outline: 0;
  width: 95%;
  height: 40px;
  border-radius: 10px;
  border-width: 0px;
  padding-left: 25px;
  border-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition-duration: 200ms;
}

/*搜索框聚焦*/
#search_box:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

/*搜索按钮div*/
.search_btn {
  flex: 1;
}

/*搜索按钮样式*/
#search_btn {
  width: 60px;
  height: 42px;
  border-width: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #3880c3;
  font-size: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition-duration: 200ms;
}

/*搜索按钮点击*/
#search_btn:active {
  background-color: rgba(0, 179, 255, 0.8);
  border-color: #000000;
  color: #d4edff;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
  transition-duration: 200ms;
}

/*列表总div*/
.searchORlist {
  box-shadow: 0 0 6px rgba(59, 59, 59, 0.5);
  padding-top: 5px;
  background-color: rgba(255, 255, 255, 0.585);
  width: 100%;
  height: calc(100vh - 305px);
  min-height: 380px;
  border-radius: 10px;
  margin-top: 20px;
}

/*按钮盒子*/
.btn_box {
  position: relative;
  padding: 2px;
  background-color: #ffffff97;
  left: calc(50% - 147.11px);
  width: max-content;
  height: 30px;
  border-radius: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

/*搜索与列表选择按钮*/
#listBtn,
#resultBtn,
#boxBtn,
#setBtn {
  background-color: #00000000;
  border: 0px;
  border-radius: 20px;
  width: 70px;
  height: 30px;
  outline: none;
  transition-duration: 50ms;
}


/*歌曲列表div*/
.songList {
  background-color: rgba(234, 255, 255, 0);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0px;
  padding-top: 5px;
}

#songList {
  background-color: #ffffff00;
  width: 100%;
  height: 20px;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 10px;
}

.iframe {
  width: 100%;
  height: calc(100% - 45px);
  ;
  border-radius: 10px;
  border-width: 0px;
  padding: 0px;
}

.footnote {
  background-color: rgba(255, 255, 255, 0.784);
  font-size: 14px;
  height: 60px;
  text-align: center;
  color: #636363;
  margin-top: 10px;
  border-radius: 5px;
}

a {
  color: #3980b2;
  text-decoration: none;
}

.playBtn {
  width: 30px;
  height: 28px;
  border: 0;
  outline: 0;
  font-size: 16px;
  background: rgba(0, 0, 0, 0);
  border-radius: 3px;
  color: rgba(74, 84, 100, 0.9);
}

.playBtn:active {
  background-color: rgba(0, 179, 255, 0.6);
  color: #ffffff;
}

.likeBtn {
  display: inline;
}

.dialogBtn {
  height: 35px;
  width: 35%;
  outline: 0;
  border-radius: 20px;
  background-color: rgb(12, 160, 255);
  color: #ffffff;
  border: 0;
}

.dialogBtn:active {
  background-color: rgb(12, 150, 235);
}

#dialogText {
  padding-left: 10px;
  outline: 0;
  border-radius: 10px;
  border: 0;
  background-color: #ededed;
  height: 35px;
  width: calc(100% - 10px);
}

/*响应式媒体查询*/
@media screen and (min-width:960px) {
  .music_box {
    width: calc(40% - 10px);
    margin-left: 30%;
  }

  #search_box {
    width: calc(100% - 10px);
  }

  .search {
    width: 40%;
    height: 40px;
    padding-left: calc(30% - 5px);
    padding-bottom: 20px;
  }

  #search_btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  #search_btn:active {
    background-color: rgba(0, 179, 255, 0.9);
  }

  #search_box:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  #search_box:focus {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .searchORlist {
    width: 40%;
    margin-left: 30%;
  }

  .footnote {
    width: 40%;
    margin-left: 30%;
  }

  .playBtn:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 179, 255, 0.8);
    transition-duration: 0.3s;
  }

  .playBtn:active {
    background-color: rgba(0, 179, 255, 0.8);
    color: #ffffff;
  }

  .likeBtn {
    display: inline;
  }

  #loopBtn:hover {
    color: #ffffff;
  }
}