body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

dialog {
  background-color: rgb(211, 238, 251);
  border-radius: 15px;
  transition-duration: 200;
  border-width: 2.5px;
  border-color: #ffffff;
  min-width: 200px;
  text-align: center;
}

.lrc {
  color: #696969;
  padding-top: 15px;
  transition-duration: 100ms;
}

.clear {
  color: #686868;
}

p {
  margin: 0;
}

img {
  border-radius: 5px;
}

.img {
  float: left;
}

.music_box {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  box-shadow: 0 0 5px rgba(82, 82, 82, 0.5);
}

.lrc_box {
  width: calc(100%-88px);
  padding-bottom: 10px;
  background-color: rgba(188, 249, 179, 0);
  text-align: center;
  margin-left: 88px;
  border-radius: 10px;
  height: 58px;
}

.song {
  font-size: 0.85rem;
  color: #232323;
  border-radius: 5px;
  text-align: center;
  width: calc(100%-88px);
  margin-left: 88px;
  height: 20px;
  background-color: rgba(215, 246, 212, 0);
}

#singerName {
  font-size: 0.8rem;
  color: #747474;
}

.plyr__controls__item.plyr__volume,
.plyr__controls__item.plyr__menu {
  display: none;
}

/*搜索建议sug*/
td{
  color: #676767;
}
td:hover{
  background-color: #d4edff;
  color: #f93030;
}

/*搜索框与搜索按钮父级div*/
.search {
  padding-bottom: 10px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/*搜索框div*/
.search_box {
  flex: 9;
  margin-left: 2%;
  margin-right: 2%;
}

/*搜索框样式*/
#search_box {
  background-color: rgba(246, 250, 255, 0.94);
  padding-right: 0px;
  width: 95%;
  height: 40px;
  border-radius: 20px;
  border-width: 0px;
  padding-left: 25px;
  border-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition-duration: 50ms;
}

/*搜索框聚焦*/
#search_box:focus {
  padding-left: 23.5px;
  border-radius: 10px;
  outline: 0;
  height: 37px;
  border-width: 1.5px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

/*搜索按钮div*/
.search_btn {
  flex: 1;
  margin-right: 1%;
}

/*搜索按钮样式*/
#search_btn {
  width: 55px;
  height: 42px;
  border-radius: 15px;
  background-color: rgba(246, 250, 255, 0.94);
  margin-left: 10px;
  border-width: 1px;
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/*搜索按钮点击*/
#search_btn:active {
  background-color: #e1f5ff;
  border-width: 2px;
  border-color: #000000;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

/*列表总div*/
.searchORlist {
  box-shadow: 0 0 5px rgba(59, 59, 59, 0.5);
  padding-top: 5px;
  background-color: rgba(255, 255, 255, 0.585);
  width: 100%;
  height: calc(100vh - 320px);
  min-height: 380px;
  border-radius: 10px;
  margin-top: 20px;
}

/*按钮盒子*/
.btn_box{
  background-color: #ffffff97;
  margin-left: calc(50% - 130px);
  width: max-content;
  height: 30px;
  border-radius: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

/*搜索与列表选择按钮*/
#listBtn,#resultBtn,#boxBtn,#setBtn{
  background-color: #00000000;
  border: 0px;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  outline: none;
  transition-duration: 200ms;
}


/*歌曲列表div*/
.songList {
  background-color: rgba(234, 255, 255, 0);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0px;
  padding-top: 5px;
}
#songList {
  background-color: #ffffff00;
  width: 100%;
  height: 20px;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 10px;
}

.iframe{
  width: 100%;
  height: calc(100% - 50px);;
  border-radius: 10px;
  border-width: 0px;
  padding: 0px;
}

.footnote{
  background-color: rgba(255, 255, 255, 0.784);
  font-size: 14px;
  height: 60px;
  text-align: center;
  color: #636363;
  margin-top: 10px;
  border-radius: 5px;
}
a{
  color: #3980b2;
  text-decoration: none;
}

/*响应式媒体查询*/
@media screen and (min-width:960px) {
  .music_box {
    width: calc(40% - 10px);
    margin-left: 30%;
  }
  #search_box {
    width: calc(100% - 25px);
  }
  .search {
    width: 40%;
    height: 40px;
    padding-left: calc(30% - 5px);
    padding-bottom: 20px;
  }


  .searchORlist {
    width: 40%;
    margin-left: 30%;
  }
  .footnote{
    width: 40%;
    margin-left: 30%;
  }
}